<div class="col-10 offset-1 about"
  <h1>About "That San Francisco Life"</h1>


  <p>
    This specific Splurty generator was built by <a target="_blank" href="https://github.com/vmatovich">Veronica</a> . She is web developer who is on a mission to use technology and creativity to connect people all over the world.
  </p>
  
  
  <br>
  

  <div class="row">

    <div class="col-12 col-sm-4">

      <%= image_tag 'Vee.jpg', class: 'img-fluid' %>

    </div>

    <div class="col-12 col-sm-7 offset-sm-1">

      <h2 class="text-center">Veronica Matovich</h2>

      <br />

      <p>

        Veronica loves technology, social entrepreneurship, and a the creative side of coding.

      </p>

       <p>
    If you want to learn more about Veronica please click - <a target="_blank" href="http://www.linkedin.com/in/veronica-matovich-8102b7118/"> here</a>.
  
      </p>

    </div>

  </div>

</div>

<br class="clear" />

<br />

<br />

<br />

<br />