<h2>
  
  <span>SPLURTY / No. <%= @quote.id %></span>
  
  You <u>know</u> you live in San Franciso when...

</h2>



<h1><%= @quote.saying %></h1>
<h2 class="float-right">- <%= @quote.author %></h2>

<br class="clear" />

<br />

<br />

<br />
